{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Store!</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Styles -->
<link rel="stylesheet" type="text/css" href="{% static 'Store/style.css' %}" />
</head>

<body>
<div id="header">

<div class="row">
	<div class="col-xs-6">
		<a href="{% url 'store:index' %}">Store!</a> - Create and View Orders
	</div>
	<div class="col-xs-5 rightside">
		<a href="{% url 'warehouse:index' %}">Warehouse</a>
	</div>
</div>


</div>

<div id="content">
<div class="container-fluid">
{% block content %}
{% endblock %}
</div>
</div>
</body>
</html>
