{% extends "Warehouse/base.html" %}
{% block content %}

<h3>Warehouse Management</h3>

<h4>List of Orders:</h4>


<table class="orders">
<tr>
	<th>ID</th>
	<th>Store</th>
	<th>Store ID</th>
	<th>Customer</th>
	<th>Purchased Date</th>
	<th>Status</th>
</tr>

{% if object_list %}
{% for order in object_list %}
<tr>
	<td class="number"><a href="{% url 'warehouse:detail' order.id %}">{{ order.id }}</a></td>
	<td class="number">{{ order.store_id }}</td>
	<td class="number">{{ order.store_order_id }}</td>
	<td>{{ order.customer }}</td>
	<td>{{ order.purchased_date }}</td>
	<td>{{ order.get_status_display }}</td>
</tr>
{% endfor %}
{% else %}
	<tr><td colspan="6">No Orders to fulfill at this point</td></tr>
{% endif %}

{% endblock %}
